:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover,
.article-title-link:hover {
  color: skyblue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header-text {
  border: 1px solid skyblue;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid orange;
  padding: 20px;
}

.nav-link {
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.87);
}

.article-list {
  border: 1px solid greenyellow;
  padding: 20px;
  margin-top: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

.article-title-link {
  color: rgba(255, 255, 255, 0.87);
}

.article-home {
  border: 1px solid lightcoral;
  padding: 20px;
  margin-top: 20px;
}

.article-image-list {
  height: 200px;
  width: 200px;
  margin: 10px 50px;
}

.article-img {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}

.article-headings,
.comments-flex {
  display: flex;
  justify-content: space-around;
}

div.article-headings {
  margin: 20px 0px;
}

.article-img-body {
  display: flex;
}

.article-body {
  display: flex;
  padding: 0 40px;
  margin: 0;
}

.main-article-link {
  margin-top: 10px;
}

p.view-article {
  margin: 10px;
}

.comments-section {
  border: 1px solid lightseagreen;
  padding: 20px;
  margin-top: 20px;
}

.article-container {
  border: 1px solid plum;
  padding: 15px;
  margin-top: 5px;
}

.comment-detail,
.article-detail,
.article-list-detail {
  margin: 3px;
}

.header-text,
.nav,
h2 {
  margin: 5px 0px;
  padding: 5px;
}

.article-list {
  margin-top: 0px;
}

.comments-container {
  border: 1px solid yellow;
  padding: 10px;
}

#new-comment {
  width: 90%;
  height: 80px;
  margin: 20px auto;
  padding: 10px;
  font-size: 1rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.post-comment-btn {
  width: 200px;
  margin: 0 auto;
}

.add-comment-label {
  margin-top: 10px;
}

.vote-button {
  margin: 0px 20px 20px;
}

.avatar-img {
  width: 150px;
  margin: 10px auto;
}

.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
  padding: 10px;
  margin-bottom: 20px;
}

.select-user-btn {
  width: 250px;
  margin: 10px auto;
}

.form-username {
  display: flex;
  margin: 0 auto;
}

.username-details {
  margin: 0 5px 10px;
}

.comment-warning {
  background-color: rgb(234, 195, 195);
  color: red;
  padding: 10px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto 20px;
}

.comment-user-link {
  padding-left: 10px;
  color: #242424;
}

.comment-user-link:hover {
  color: #4b4a4a;
}

.user-warning {
  display: flex;
}

.topic-list-card {
  border: 1px solid rgb(255, 0, 72);
  padding: 10px;
  margin-top: 20px;
}

.article-position {
  display: flex;
}

.article-details-position {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.sort-order {
  display: flex;
  justify-content: flex-end;
}

.sort-order-label {
  margin-left: 20px;
}

.sort-order-dropdown {
  margin-left: 5px;
}

.successful-comment {
background-color: rgb(195, 234, 211);
  color: rgb(10, 103, 0);
  padding: 10px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto 20px;
}

.delete-btn-container {
  overflow: auto;
}

.delete-btn {
  float: right;
}

.main-article-list {
 margin: 15px 0px 0px;
 ;
}

@media (max-width: 850px) {
  .article-details-home,
  .article-headings,
  .article-img-body,
  .comments-flex {
    display: flex;
    flex-direction: column;
  }

  .article-position {
  display: flex;
  flex-direction: column;
}

  .article-body {
    display: flex;
    padding: 10px 0px 30px;
  }

  h2 {
    margin-top: 20px;
  }

  p.view-article {
    margin: 5px;
  }

  .article-title-link,
  .article-home {
    margin-top: 5px;
  }

  .comment-warning, .comment-user-link {
    display: flex;
    flex-direction: column;
  }
}